@tailwind base;
@tailwind components;
@tailwind utilities;

.linear_bg{
  background: linear-gradient(135deg, #FFF 0%, #FFF 0%, rgba(243, 244, 245, 0.20) 11.74%, #F3F4F5 27.92%, rgba(243, 244, 245, 0.00) 44.79%, rgba(243, 244, 245, 0.68) 60.42%, #F3F4F5 79.17%, #FFF 100%);

}

.cofee_img{
  transform:scaleX(-90 deg);
}
.ellipse{
  width: 648px;
  height: 440px;
  transform: rotate(-30deg);
  border-radius: 50%;
  border: 2px solid #64646A;
  background: #FFF;
  z-index: -2;
  flex-shrink: 0;
}
.testimonial_card{
  background: linear-gradient(135deg, #FFF 0%, #FFF 0%, rgba(243, 244, 245, 0.20) 11.74%, #F3F4F5 27.92%, rgba(243, 244, 245, 0.00) 44.79%, rgba(243, 244, 245, 0.68) 60.42%, #F3F4F5 79.17%, #FFF 100%);
}